  <div class="footer-wrapper">
	      <div class="container">
	        <footer>
	          <small>&copy; 2013 Symfony Tunisia Community. All rights reserved.</small>
	        </footer>
	      </div>
	    </div>