{% extends 'STWebSiteBundle:Layout:layout.html.twig' %}
{% block content %}
<!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
        <h1><span>SymfonyCom tuinsia</span> By Symfony Tunisia Community.</h1>
        <div class="container">
          <div class="row">
            <div class="span12">
              <h2>Signup for our Newsletter to be updated</h2>
              <input type="text" name="your-email" placeholder="you@yourmail.com" class="cform-text" size="40" title="your email">
              <input type="submit" value="Notify me" class="cform-submit">
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <ul class="icon">
                <li><a href="https://www.facebook.com/Symfony.TN" target="_blank"><i class="icon-facebook-circled"></i></a></li>
                <li><a href="https://twitter.com/SymfonyTunisia" target="_blank"><i class="icon-twitter-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-gplus-circled"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!--******************** Feature ********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <article>
                <p>Symfony est un framework MVC libre écrit en PHP 5 developpé par SensioLabs.
cette page réunit la communauté Symfony en Tunisie</p>
                <p>We craft beautiful designs and convert them into</p>
                <p>fully functional and user-friendy web app.</p>
              </article>
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
    <hr>
     {% include 'STWebSiteBundle:Pages:about.html.twig' %}
     {% include 'STWebSiteBundle:Pages:conference.html.twig' %}
     {% include 'STWebSiteBundle:Pages:speaker.html.twig' %}
     {% include 'STWebSiteBundle:Pages:sponsors.html.twig' %}
     {% include 'STWebSiteBundle:Pages:contact.html.twig' %}
{% endblock %}